body {
  min-width: 320px;
  height: 625px;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
  transition: width 0.35s cubic-bezier(0.25, 0.8, 0.25, 1);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}


::-webkit-scrollbar {
  width: 0px;
  /* TÄÄ ESTÄÄ SCROLLERI */
  /* position: absolute; */
}

::-webkit-scrollbar {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
